.hero-header {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/uploads/page-header-bg.jpg?nf_resize=fit&w=414");
    background-position: center;
    background-attachment: scroll;
    background-size: cover;

    height: 50vh;

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media #{$large-and-up} {
    .hero-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/uploads/page-header-bg.jpg?nf_resize=fit&w=1920");
        background-attachment: fixed;
        height: 80vh;

        .hero-content {
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
        }
    }
}