---
layout: default
lang: pt
---

{% include home/header.html %}

{% include home/firstSection.html %}

{% include home/sobre.html %}

{% include home/sectionDoar.html %}

{% include home/objectivos.html %}

<style>
    .parallax-container {
        height: 20vh;
    }
</style>

<div class="parallax-container">
    <div class="parallax">
        <img data-src="/assets/uploads/img_9930.jpg?nf_resize=fit&w=1920" class="lazy" alt="">
    </div>
</div>

{% include home/projectos.html %}

{% include home/parceiros.html %}