<nav class="nav-extended white">
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" title="{{ site.title }}" class="brand-logo">
                {% include nav/logoNAFET.svg %}
            </a>

            <a href="#" class="sidenav-trigger" data-target="sideNav">
                <i class="fas fa-lg fa-bars"></i>
            </a>
        </div>

        <ul class="right hide-on-med-and-down">
            {% include nav/nav.html %}
        </ul>
    </div>
</nav>