<section class="modal" id="contactos">
    <div class="container modal-content">
        <h5 class="bolder primary-color-text center-align">Contacte-nos</h5>

        <form action="post" netlify name="contacte-nos" class="row">
            {% include contact-form/name.html %}
            {% include contact-form/email.html %}
            {% include contact-form/telephone.html %}
            {% include contact-form/subject.html %}
            {% include contact-form/message.html %}
            {% include contact-form/submit.html %}
        </form>
    </div>
</section>