<footer class="page-footer white-text">
    <div class="container">
        <div class="section-grid">
            <article>
                <span class="light">Contacte-nos:</span>

                <p class="bolder"><a href="tel:+258 86 311 2005" class="white-text">+258 86 311 2005</a> <br> <a href="mailto:{{ site.email }}" class="white-text">{{ site.email }}</a></p>
            </article>

            <article>
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fwww.faamoz.org%2F&width=146&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId=1034422419934923" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </article>

            <article>
                <span class="light">Localize-nos</span>

                <p class="bolder">Av. da Independência nº 1599, <br> Bairro Josina Machel, <br> Cidade de Tete - Moçambique</p>
            </article>
        </div>
    </div>

    <div class="footer-copyright center">
        <div class="container">
            &copy; {{ site.description }} | Todos Direitos Reservados <br>
            <span class="light">Desenvolvido pela <a href="https://izitech.co" class="white-text">IZITech</a></span>
        </div>
    </div>
</footer>