@charset "UTF-8";

@import
    "base",
    "animate-bottom",
    "materialize",
    "page-header",
    "mygrid"
;

.btn {
    border-radius: 20px;
}

strong,
.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

nav {
    background-color: #fff;

    .nav-wrapper {
        a.brand-logo {
            svg {
                height: 60px;
                padding: 10px;
            }
        }
    }
}