<section class="section scrollspy grey lighten-4" id="projectos">
    <div class="container">
        <h5 class="center-align bolder primary-color-text">Projectos</h5>

        <div class="section-grid">
            {% for item in site.categories.projectos limit: 3 %}
                <article class="card-panel white-text z-depth-3 hoverable" style="background-color: {{ site.color }};">
                    <p class="bolder">{{ item.title }}</p>
                    <span class="light grey-text text-lighten-1">Publicado {{ item.date | date_to_string }}</span>
                    <div class="light">
                        {{ item.content | truncatewords: 20 }}
                    </div>
                    <a href="{{ item.url }}" title="{{ item.title  }}">Leia Mais</a>
                </article>
            {% endfor %}
        </div>

        <div class="center">
            <a href="/projectos/" title="Projectos" class="btn waves-effect waves-light">Veja Mais</a>
        </div>
    </div>
</section>