{% for item in site.sobre limit: 1 %}
    <div id="QuemSomos" class="modal">
        <div class="container modal-content">
            <p class="bolder primary-color-text">{{ item.title }}</p>

            <div class="light text-justified grey-text text-darken-4">
                {{ item.content }}
            </div>
        </div>
    </div>
{% endfor %}

{% for item in site.sobre %}
    <div id="Sobre-{{ item.title }}" class="modal">
        <div class="container modal-content">
            <p class="bolder primary-color-text">{{ item.title }}</p>

            <div class="light text-justified grey-text text-darken-4">
                {{ item.content }}
            </div>
        </div>
    </div>
{% endfor %}